[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
pycryptodome = "*"
cryptography = "*"
ecdsa = "*"
secp256k1 = "*"
tinyec = "*"
cbor = "*"
fido2 = "<=0.8"
pytest-repeat = "*"
fastecdsa = "*"
pytest-reporter-html1 = "*"
pyusb = "*"

[requires]
python_version = "3.9"

[packages.pynitrokey]
git = "https://github.com/robin-nitrokey/pynitrokey"
ref = "pcsc-v0.4.0"
